<div class="row">

  <div class="col l6 s12">
    <div id="game-map"></div>
  </div>

  <div class="col l6 s12">
    <p>
      <%= link_to raw('<i class="material-icons left">add</i>Add Location'), new_game_location_path(@game), class: 'waves-effect waves-light btn' %>
    </p>
    <h2><%= @game.name %></h2>
    <p><%= @game.description %></p>
    <h4>Instructions</h4>
    <p><%= @game.instructions %></p>
    <div class="row">
      <h4>Players</h4>
      <%= simple_form_for [@game, @player] do |f| %>
        <%= f.input :phone, wrapper_html: {class: 'input-field col s12'} %>
        <div class="form-actions">
          <%= f.button :button, raw('<i class="material-icons left">add</i>Add Player'), class: 'waves-effect waves-light btn' %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col l6 s12">
        <ul class="collection">
        <% @players.each do |player| %>
          <li class="collection-item">
            <%= player.phone %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>

<%= content_tag :div, class: "locations_class", data: {locations: @locations} do %>
<% end %>