<!DOCTYPE html>
<html>
<head>
  <title>x</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "common/header" %>
<div>
  <%= yield %>
</div>

</body>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
</html>
